

<footer class="site-footer">
  <div class="container">
    <div class="row">
      
      <div class="col-lg-4">
        <div class="mb-5">
          <h3 class="footer-heading mb-4">Site Locations</h3>
          <p>Afienya</p>  <p>Afienya Attah Mensah</p>  <p>Afienya Mobole</p>  <p>Afienya Ablekumah</p>
          <button style="color: white;" type="button" class="btn-link" data-toggle="modal" data-target="#exampleModalCenter">
            see more
          </button>
          
          <!-- Modal -->
          <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalCenterTitle">Site Locations</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                 <h4>
                  <p>Shai-Hills</p>  <p>Asutuary</p>  <p>Dawhenya(Central University)</p>  <p>Prampram</p>
                  <p>Tema Comm 25 Extension</p>  <p>Tsopoli</p>  <p>Ada (Matse Kope)</p>  <p>Ho</p>
                 </h4>
                </div>
                <div class="modal-footer">
                 
                </div>
              </div>
            </div>
          </div>
          
        </div>



      </div>
      <div class="col-lg-4 mb-5 mb-lg-0">
        
        <div class="row mb-5">
          <div class="col-md-12">
            <h3 class="footer-heading mb-4">Services</h3>
          </div>
          <div class="col-md-6 col-lg-6">
            <ul class="list-unstyled">
              <li><a href="#">Real Estate Developer</a></li>
              <li><a href="#">Property Management</a></li>
              <li><a href="#">Site Plan/Indenture</a></li>
              <li><a href="#">Land Survey</a></li>
              <li><a href="#">Land Registration</a></li>
              <li><a href="#">Supply of Building Materials etc</a></li>
            </ul>
          </div>
         
        </div>


      </div>

      <div class="col-lg-4 mb-5 mb-lg-0">
  
        <h3 class="footer-heading mb-4">Follow Us on </h3>

        <div>
        <a href="https://www.facebook.com/Clerbidel-Estates-107701167415532/?referrer=whatsapp" target="_blank" rel="noopener noreferrer">
          <span class="icon-facebook fa-4x"></span> facebook
        </a>
        <br>
          <!-- <a href="" class="pl-0 pr-3"><span class="icon-facebook"></span></a> -->
          <a class="pl-3 pr-3" href="#" target="_blank" rel="noopener noreferrer"><span class="icon-twitter"></span> twitter</a>
          
          <br>
          <a class="pl-3 pr-3" href="#" target="_blank" rel="noopener noreferrer"><span class="icon-instagram"> instagram</a>
          
          <br>
          <a  class="pl-3 pr-3" href="#" target="_blank" rel="noopener noreferrer"><span class="icon-linkedin"> linkedin</a>
          <br>
          <!-- 
            https://web.whatsapp.com/send?phone=+233244153064
           -->
          <a  class="pl-3 pr-3" href="https://wa.me/+233246394796" target="_blank" rel="noopener noreferrer"><span class="icon-whatsapp"> whatsapp</a>

        </div>

        <ul class="list-unstyled">
          <li ><h3 class="footer-heading mb-4">more</h3></li>
          <li ><a href="#">About Us</a></li>
          <!-- <li><a href="#">Privacy Policy</a></li> -->
          <li title="+233244153064"><a href="tel:+233244153064">Contact Us</a></li>
          <!-- <li><a href="#">Terms</a></li> -->
        </ul>

       
      </div>

    </div>
    <div class="row pt-5 mt-5 text-center mx-4">
      
      <div class="col-md-12">
        <p>
     Copyright &copy;  {% now "Y" %} Clerbidel Estates
        </p>
      </div>
     

    </div>
  </div>
</footer>