{% load static %}

<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->

<div>
  
  <div class="site-navbar" style="position: fixed;" >
    <div class="container">
      <div class="bs-example">
        <nav class="navbar navbar-expand-md navbar-light bg-light ">
            <a href="{% url 'estate_app:home' %}" class="navbar-brand">
                <img src="{% static "images/logo.jpg" %}" height="50" alt="CoolBrand">
            </a>
            <button id="open" type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarCollapse" style="background:  rgb(54, 78, 104);">
                <div class="navbar-nav" style="font-size: x-large;">
                    <a href="{% url 'estate_app:home' %}" class="nav-item nav-link active" style="color: white;">Home</a>
                    <a href="{% url 'estate_app:contact' %}" class="nav-item nav-link" style="color:  white">Contact</a>
                    <a href="{% url 'estate_app:about' %}" class="nav-item nav-link" style="color:  white">About</a>
                    <!-- <a href="#" class="nav-item nav-link disabled" tabindex="-1">Reports</a> -->
                </div>
                <div class="navbar-nav ml-auto">
                    {% if request.user.is_authenticated %}
                    <a href="#" class="nav-item nav-link" style="color: white;">Logout</a>
                        {% else %}
                        <a href="#" class="nav-item nav-link" style="color: white;">Login</a>
                        <a href="#" class="nav-item nav-link" style="color: white;">Create account</a>

                    {% endif %}
                </div>
            </div>
        </nav>
    </div>
            
  </div>
</div>

</div>


<style>
.nav-item:hover {
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}
</style>


