
.workflow
{
	padding-top: 100px;
	padding-bottom: 90px;
	border-bottom: solid 1px #dfe4ee;
}
.workflow_row
{
	margin-top: 83px;
}
.workflow_rocket
{
	position: absolute;
	top: 56px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
.workflow_item
{

}
.workflow_image_background
{
	width: 227px;
	height: 227px;
}
.workflow_circle_outer,
.workflow_circle_inner,
.workflow_image
{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.workflow_circle_outer
{
	background: #edeff4;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	opacity: 0.5;
	z-index: 1;
}
.workflow_circle_inner
{
	width: 166px;
	height: 166px;
	border-radius: 50%;
	background: #e1e5ec;
	z-index: 2;
}
.workflow_item:hover .workflow_circle_outer
{
	background: #446cb8;
}
.workflow_item:hover .workflow_circle_inner
{
	background: #3f5683;
}
.workflow_item:hover .workflow_num
{
	background: #fd784f;
}
.workflow_image
{
	z-index: 4;
}
.workflow_num
{
	position: absolute;
	top: -11px;
	left: 34px;
	width: 42px;
	height: 42px;
	background: #abb2bf;
	border-radius: 50%;
	z-index: 3;
}
.workflow_num span
{
	font-size: 14px;
	font-weight: 700;
	color: #FFFFFF;
	line-height: 42px;
}
.workflow_item_content
{
	margin-top: 53px;
}
.workflow_title
{
	font-size: 18px;
	font-weight: 700;
	color: #1e2c4e;
}
.workflow_text
{
	color: #838383;
	margin-top: 17px;
	margin-bottom: 0px;
}
