{% extends "base.html" %}

{% load static %}

    <title> {% block title %}
      clerbibel &mdash;  about
    {% endblock title %} </title>

  {% block body %} 
<div class="container-fluid">
  
  <div class="site-blocks-cover inner-page-cover overlay" style="background-image: url({% static 'images/IMG-20191231-WA0009.jpg' %});" data-aos="fade" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row align-items-center justify-content-center text-center">
        <div class="col-md-10">
        </div>
        <!-- <h1 class="mb-2" style="color:#03173a;">About Clerbidel Estates</h1> -->

      </div>
    </div>
  </div>
</div>
    

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
            <img src="{% static "images/logo.jpg" %}" alt="Image" class="img-fluid" height="400" width="500">
          </div>
          <div class="col-md-5 ml-auto"  data-aos="fade-up" data-aos-delay="200">
            <div class="site-section-title">
              <h5 style="background-color: dimgray; font-style: italic;" class="" id="example"></h5>

              <h2>Our Company</h2>
              <p class="lead"> Clerbidel Etates is registered under the laws of Ghana
                Under Clerbidel Estates we  have Clerbidel Farming,Clerbidel Transport And Clerbidel Arts and Crafts.
                We have five years experience in the real estates business and we make sure we give our customers what they need.
              we have so many lands at differnt location contact Clerbidel estates for your litigation free land</p>
             
            </div>
           
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
    <div class="container">
      <div class="row mb-5 justify-content-center"  data-aos="fade-up" >
        <div class="col-md-7">
          <div class="site-section-title text-center">
            <h2>Leadership</h2>
            <p>Meet our leaders</p>
          </div>
        </div>
      </div>
      <div class="row">
        {% for agent in agent_list %}
          
      
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-5"  data-aos="fade-up" data-aos-delay="200">
            <div class="team-member">

              <img src="{{agent.image.url}}" %}" alt="Image" class="img-fluid rounded mb-4" height="360">

              <div class="text">

                <h2 class="mb-2 font-weight-light text-black h4">{{agent.name}}</h2>
                <span class="d-block mb-3 text-white-opacity-05">{{agent.position}}</span>
                <p>
                  {% if  agent.facebook_url  %}
                  
                  <a href="{{agent.facebook_url}}" class="text-black p-2"><span class="icon-facebook"></span></a>
                
                  {% endif %}
                  
                  {% if agent.twitter_url %}
                  <a href="{{agent.twitter_url}}" class="text-black p-2"><span class="icon-twitter"></span></a>

                  {% endif %}
                  {% if agent.linkedin_url  %}
                  <a href="{{agent.linkedin_url}}" class="text-black p-2"><span class="icon-linkedin"></span></a>

                  {% endif %}
                </p>
              </div>

            </div>
          </div>
          {% endfor %}
        </div>
    </div>
    </div>



    <div class="site-section">
      <div class="container">

        <div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center">
            <div class="site-section-title">
              <h2>Frequently Ask Questions</h2>
            </div>
          </div>
        </div>

        <div class="row justify-content-center" data-aos="fade" data-aos-delay="100">
          <div class="col-md-8">
            <div class="accordion unit-8" id="accordion">
            <div class="accordion-item">
              <h3 class="mb-0 heading">
                <a class="btn-block" data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="true" aria-controls="collapseOne">What is the name of your company<span class="icon"></span></a>
              </h3>
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="body-text">
                  <p> Clerbibel Estates </p>
                </div>
              </div>
            </div> <!-- .accordion-item -->
            
            <div class="accordion-item">
              <h3 class="mb-0 heading">
                <a class="btn-block" data-toggle="collapse" href="#collapseTwo" role="button" aria-expanded="false" aria-controls="collapseTwo">For how long have you been in estate and land sale bussiness<span class="icon"></span></a>
              </h3>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="body-text">
                  <p>We have been in land and esate bussiness(sale,rent) for the past five years</p>
                </div>
              </div>
            </div> <!-- .accordion-item -->

            <div class="accordion-item">
              <h3 class="mb-0 heading">
                <a class="btn-block" data-toggle="collapse" href="#collapseThree" role="button" aria-expanded="false" aria-controls="collapseThree">Do I need to register?  <span class="icon"></span></a>
              </h3>
              <div id="collapseThree" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="body-text">
                  <p>Is Clerbibel Estates a registerd company</p>
                </div>
              </div>
            </div> <!-- .accordion-item -->

            <div class="accordion-item">
              <h3 class="mb-0 heading">
                <a class="btn-block" data-toggle="collapse" href="#collapseFour" role="button" aria-expanded="false" aria-controls="collapseFour">Who should I contact in case of support.<span class="icon"></span></a>
              </h3>
              <div id="collapseFour" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="body-text">
                  <p>Yes Clerbidel Estates is a registerd company</p>
                </div>
              </div>
            </div> <!-- .accordion-item -->

          </div>
          </div>
        </div>
      
      </div>
    </div>


  </div>

{% endblock body %}
  