{% extends "base1.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block tittle %}
{% endblock tittle %}

{% block body %}




<br><br><br>
<div class="container">

{% if  form.bath %}
  <h4 class="text-center">ADD A NEW BUILDING</h4>
{% else %}
 <h4 class="text-center"> ADD A NEW LAND </h4> 
{% endif %}


    <div class="row">
      <!--start phone -->
      <!-- <h3 class="text-danger">{{ request.user.userphone.phonenumber}}</h3> -->
      {% if not request.user.userphone.phonenumber %}
        
    
      <div class="col ">
       <form  method="POST" id="addphone">
         {% csrf_token %}
        <div class="form-group">
          <!-- <label class="float-right" for="phone">phone</label> -->
          <button title="add phone number" type="submit" class="btn-sm btn-primary float-right icon-plus"></button>
          <input id="phonenumber" class="float-right" type="tel" name="" placeholder="add phone number" required>

        </div>
        
       </form>
       
       <br><br> 
        <button class="btn-sm btn-primary float-right btn" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          why phone
        </button>
      
        <hr>
      <div class="collapse" id="collapseExample"> 
        <div class="card card-body text-danger">
          we add your phone number to all your properties that you can be reached when someone wants to reach you or buy
        </div>
        <hr>
      </div>
      </div>
      {% endif %}
      <!-- phone end -->
        <form action="" method="POST" enctype="multipart/form-data">

            {% csrf_token %}
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-4 col-xs-6">
                  {{ form.property_type|as_crispy_field }}
                </div>
                <div class="col-lg-6 col-md-6 col-sm-4 col-xs-6">
                  {{ form.price|as_crispy_field }}
                </div>
                <div class="col-lg-6 col-md-6 col-sm-4 col-xs-6">
                    {{ form.location|as_crispy_field }}
                </div>
                <div class="col-lg-6 col-md-6 col-sm-4 col-xs-6">
                    {{ form.sqrt|as_crispy_field }}
                </div>
                <div class="col-lg-6 col-md-6 col-sm-4 col-xs-6">
                    {{ form.description|as_crispy_field }} 
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                    {{ form.sale_type|as_crispy_field }} 
                </div>
                <!-- if here -->
               {% if form.bath %}
               <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                {{ form.bath|as_crispy_field }} 
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                {{ form.bed|as_crispy_field }} 
            </div>
                 
               {% endif %}
                <!-- end if here -->
                <!-- image -->
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    {{ form.image|as_crispy_field }} 
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    {{ form.image1|as_crispy_field }} 
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                    {{ form.image2|as_crispy_field }} 
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                    {{ form.image3|as_crispy_field }} 
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                    {{ form.image4|as_crispy_field }} 
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                    {{ form.image5|as_crispy_field }} 
                </div>
               
              </div>
              
              <button type="submit" class="btn text-white  btn-block btn-lg" style="background: rgb(54, 78, 104);">Save</button>


    </form>
      
   <!-- form  here -->

    </div>
</div>


<!-- end of form list below -->
<hr>

<div class="container">
    <div class="row">
        <legend>All your property(s) {{object_list|length}}</legend>

        <table id="" class="table table-bordered table-hover ">
  
            <thead class="thead-light ">
        
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Location </th>
                    <th scope="col">Image</th>    
                    <th scope="col">Action</th>    
                   
                       
        
                </tr>
            </thead>
          {% for  property in object_list %}
        
            <tbody>
           
                <tr >
                 <td id="id" scope ="row"> 00{{ property.id }}  </td>
                 <td id="id" scope ="row"> {{ property.location }}  </td>
                 {% if property.image %}
                  <td scope ="row"> 
                    <a href="{% url 'estate_app:detailpage' property.id %}">
                    <img src="{{ property.image.url }}" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="" style="height: 100px; width:150px"> 
                </a>
                </td>
     
                  {% else %}
                  <td>no image</td>
                  {% endif %}
                
                  {% if not form.bath %}
                  <td>
                      <form action="{% url 'estate_app:deleteland' property.id%}" method="post">
                        {% csrf_token %}
                          <button type="submit" class="btn-link text-danger icon-trash"></button>
                      </form><br>
                      <a href="{% url 'estate_app:updateland' property.pk %}" class="icon-pencil"></a>
                  </td>


                  {% else %}
                  <td>
                    <form action="{% url 'estate_app:deletehome' property.id%}" method="post">
                        {% csrf_token %}
                          <button  type="submit" class="btn-link text-danger icon-trash"></button>
                      </form><br>
                      <a href="{% url 'estate_app:updatehome' property.pk %}" class="icon-pencil"></a>
                  </td>
                  


                  {% endif %}

                  
                        
                </tr>
        
              {% empty %}
        
              <p class="text-muted"> sorry No result available</p>
            </tbody>
        
            {% endfor %}
        </table>

        {% if is_paginated %}
        <nav aria-label="Page navigation example">
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">back</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">next</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
</nav>
{% endif %}
    </div>
</div>

<style>
body{
  background-color: rgba(250, 249, 249, 0.911);
}
</style>

<script>
  $('#addphone').on('submit',function(e){
    
      e.preventDefault();
     
      $.ajax({
          type:'POST',
          url:'/api/create/',
          data:{
            phonenumber:$('#phonenumber').val(),
              csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
      
          },
          success:function(){
              console.log('created', this.url)
              alert('saved',$('#name').val())
              
          }

      })
  })
  </script>

{% endblock body %}